body {
    font-size: 16px;
    background: #00ff00;
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
h2 {
    text-align: center;
    text-decoration: underline;
}
form {
    width: 300px;
    background: yellow;
    padding: 15px 40px 40px;
    border: 5px solid red;
    margin: 50px auto 0;
    border-radius: 15px;
}
label {
    display: block;
    margin-bottom: 5px
}
label i {
    color: red;
    font-size: 80%;
}
input, select {
    border: 2px solid red;
    padding: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
}
.row {
    padding-bottom: 10px;
}
.form-inline {
    border: 2px solid red;
    padding: 8px 10px 4px;
    border-radius: 2px;
}
.form-inline label, .form-inline input {
    display: inline-block;
    width: auto;
    padding-right: 15px;
}
.error {
    color: red;
    font-size: 100%;
}
input[type="submit"] {
    font-size: 110%;
    font-weight: 100;
    background: #006dcc;
    border-color: white;
    box-shadow: 0 3px 0 #0165b6;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background: red;
}